/* Accessibility
 * outline is added on focus with JavaScript through the rmp-focus class for keyboard navigation
 */

/* this is for inner player UI elements (play, seekbar, fullscreen buttons) */
.rmp-focus {
  box-shadow: inset 0 0 0 2px @blue !important;
}

/* this is for the player container and related items where inset shadows are not rendered correctly */
.rmp-container.rmp-focus,
.rmp-related-item.rmp-focus {
  box-shadow: 0 0 0 2px @blue !important              ;
}

/* show labels when focus is on */ 
.rmp-focus.rmp-play-pause .rmp-control-bar-hint,
.rmp-focus.rmp-volume .rmp-control-bar-hint,
.rmp-focus.rmp-fullscreen .rmp-control-bar-hint,
.rmp-focus.rmp-quality .rmp-control-bar-hint,
.rmp-focus.rmp-captions .rmp-control-bar-hint,
.rmp-focus.rmp-audio .rmp-control-bar-hint,
.rmp-focus.rmp-quick .rmp-control-bar-hint,
.rmp-focus.rmp-quick-both .rmp-control-bar-hint,
.rmp-focus.rmp-module .rmp-module-hint {
  opacity: 1;
  visibility: visible;
}
