/*
  woff2 - only

  */

/* player icons file */

@font-face {
  font-family: "rmp-font";
  src: url("../../fonts/rmp-font.woff2?u4uk0z") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block; 
}
