/* rmp-vast - adjustments */
.rmp-ad-container .rmp-ad-non-linear-container,
.rmp-ad-container .rmp-ad-container-skip {
  bottom: 52px;
}

.rmp-ad-click-ui-mobile {
  z-index: 1;
  font-size: 16px !important;
  padding: 0 4px;
  width: auto !important;
}
