/**
 * sharing module
 */
.rmp-sharing-social {
  margin-bottom: 16px;
}

.rmp-sharing-social .rmp-i:hover {
  color: inherit;
}

.rmp-sharing-social-icons {
  display: inline;
  margin: 0 10px;
  cursor: pointer;
}

.rmp-sharing-link,
.rmp-sharing-code {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 16px;
}

.rmp-i-link,
.rmp-i-code {
  margin-right: 8px;
  order: 1;
  flex-grow: 1;
}

.rmp-sharing-input {
  color: @black;
  padding: 0 6px;
  background: @white;
  border: none;
  order: 2;
  flex-grow: 8;
  .border-radius(4px);
}

.rmp-i-copy {
  margin-left: 8px;
  order: 3;
  flex-grow: 1;
  cursor: pointer;
}
