/* files to set default icons size */

/* icons in the control bar */
.rmp-control-bar .rmp-i {
  font-size: 1.86em;
}

/* icons when a module is open */
.rmp-module-overlay .rmp-i {
  font-size: 2.14em;
}

/* module icons */
.rmp-module .rmp-i {
  font-size: 2.14em;
}

/* social icons when sharing module is open */
.rmp-module-overlay .rmp-sharing-social .rmp-i {
  font-size: 3.14em;
}

/* playlist navigation icons */
.rmp-playlist-left-arrow,
.rmp-playlist-right-arrow {
  font-size: 2.42em;
}

/* 360 nav icon */
.rmp-360-nav-button {
  font-size: 2.42em;
}

/* central play icon */
.rmp-overlay-button .rmp-i-play,
.rmp-overlay-button .rmp-i-pause,
.rmp-overlay-button .rmp-i-replay,
.rmp-mobile-central-ui .rmp-i-play,
.rmp-mobile-central-ui .rmp-i-pause,
.rmp-mobile-central-ui .rmp-i-replay {
  font-size: 3.14em;
}

/* TV Skin */
.rmp-tv .rmp-module-overlay .rmp-i {
  font-size: 3.72em;
}

.rmp-tv .rmp-control-bar .rmp-i {
  font-size: 1.86em;
}

.rmp-xl.rmp-tv .rmp-control-bar .rmp-i {
  font-size: 3.72em;
}

.rmp-tv .rmp-control-bar .rmp-fast-forward.rmp-i,
.rmp-tv .rmp-control-bar .rmp-fast-rewind.rmp-i {
  font-size: 3.14em;
}

.rmp-xl.rmp-tv .rmp-control-bar .rmp-fast-forward.rmp-i,
.rmp-xl.rmp-tv .rmp-control-bar .rmp-fast-rewind.rmp-i {
  font-size: 4.84em;
}

.rmp-tv .rmp-control-bar .rmp-fast-indicator.rmp-i,
.rmp-xl.rmp-tv .rmp-control-bar .rmp-fast-indicator.rmp-i {
  font-size: 1.86em;
}
